# DataFrame

Un dataframe en pandas es una tabla compuesta por filas y columnas

que pueden ser restructuradas y filtradas facilmente.

<dl>
    <dt><strong>Definicion Formal: </strong></dt>
    <dd> Grupo de Series de  Pandas que comparten el mismo indice </dd>
</dl>

<ul>
    <li>Ejemplo de Serie</li>
</ul>
<table>
    <thead>
        <td>Indice</td>
        <td>Año</td>
    </thead>
    <tbody>
        <tr>
            <td>Ecuador</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>Brasil</td>
            <td>2013</td>
        </tr>
        <tr>
            <td>Bolivia</td>
            <td>2019</td>
        </tr>
    </tbody>
</table>

<ul>
    <li>Ejemplo de Serie con el mismo indice</li>
</ul>
<table>
    <thead>
        <td>Indice</td>
        <td>Año</td>
    </thead>
    <tbody>
        <tr>
            <td>Ecuador</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>Brasil</td>
            <td>2013</td>
        </tr>
        <tr>
            <td>Bolivia</td>
            <td>2019</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <td>Indice</td>
        <td>Pop</td>
    </thead>
    <tbody>
        <tr>
            <td>Ecuador</td>
            <td>328</td>
        </tr>
        <tr>
            <td>Brasil</td>
            <td>38</td>
        </tr>
        <tr>
            <td>Bolivia</td>
            <td>126</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <td>Indice</td>
        <td>GDP</td>
    </thead>
    <tbody>
        <tr>
            <td>Ecuador</td>
            <td>20.5</td>
        </tr>
        <tr>
            <td>Brasil</td>
            <td>1.7</td>
        </tr>
        <tr>
            <td>Bolivia</td>
            <td>1.22</td>
        </tr>
    </tbody>
</table>

<ul>
    <li><h2>DataFrame</h2></li>
</ul>
<table>
    <thead>
        <td>Indice</td>
        <td>Año</td>
        <td>Pop</td>
        <td>GDP</td>
    </thead>
    <tbody>
        <tr>
            <td>Ecuador</td>
            <td>2017</td>
            <td>328</td>
            <td>20.5</td>
        </tr>
        <tr>
            <td>Brasil</td>
            <td>2013</td>
            <td>38</td>
            <td>1.7</td>
        </tr>
        <tr>
            <td>Bolivia</td>
            <td>2019</td>
            <td>126</td>
            <td>1.22</td>
        </tr>
    </tbody>
</table>

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [14]:
np.random.seed(101)
mydata = np.random.randint(0, 101, (4, 3))

In [15]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [6]:
myindex = ['CA', 'NY', 'AZ', 'TX']

In [7]:
mycolumns = ['Ene', 'Feb', 'Mar']

In [16]:
df = pd.DataFrame(mydata)

In [17]:
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [ ]:
df = pd.DataFrame(data= mydata, index= myindex)

In [ ]:
df