# Pandas

Pandas es una libreria de Python que permite la manipulacion de datos.

Pandas al igual de Numpy se basa en estructura de datos, en el caso de Pandas 

tiene dos estrucutras de datos:

- **Series:** Para informacion unidimensional
- **DataFrame:** Para informacion tabular

## Series

- Las Series son estructuras de datos que recibe un array de informacion junto con un indice nombrado
- El indice nombrado lo diferencia de un ndarray simple de Numpy
- One-dimensional ndarray con etiquetas como ejes.

- ### **Numpy** tiene indices numericos
<table>
    <thead>
        <td>Indice</td>
        <td>Data</td>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>1118</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1218</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1118</td>
        </tr>
        <tr>
            <td>3</td>
            <td>1318</td>
        </tr>
        <tr>
            <td>4</td>
            <td>1418</td>
        </tr>
    </tbody>
</table>

- ### **Pandas Series** puede agregar un indice de etiquetas
<table>
    <thead>
        <td>Indice</td>
        <td>Data</td>
    </thead>
    <tbody>
        <tr>
            <td>Ecuador</td>
            <td>1118</td>
        </tr>
        <tr>
            <td>Brasil</td>
            <td>1218</td>
        </tr>
        <tr>
            <td>Colombia</td>
            <td>1118</td>
        </tr>
        
    </tbody>
</table>

- ### **Los Datos** aun son organizados numericamente
<table>
    <thead>
        <td>Indice numérico</td>
        <td>Indice etiquetado</td>
        <td>Data</td>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Ecuador</td>
            <td>1118</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Brasil</td>
            <td>1218</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Colombia</td>
            <td>1118</td>
        </tr>
        
    </tbody>
</table>

### Trabajando con Series

In [1]:
# import numpy as np

In [2]:
import pandas as pd

In [4]:
# help( pd.Series )

In [8]:
myindex = ['Ecuador', 'Colombia', 'Perú']

In [5]:
mydata = [2140, 4175, 5824]

In [6]:
# array normal, indice numerico
myserie = pd.Series(data=mydata)
myserie

0    2140
1    4175
2    5824
dtype: int64

In [9]:
# Serie con indexado etiquetado
myserie = pd.Series( data=mydata, index=myindex )
myserie

Ecuador     2140
Colombia    4175
Perú        5824
dtype: int64

### Indexacion de una Serie como diccionario de Python

In [10]:
myserie[1]

4175

In [11]:
myserie['Perú']

5824

In [12]:
# añadir elementos
myserie['Venezuela'] = 2147

In [13]:
myserie

Ecuador      2140
Colombia     4175
Perú         5824
Venezuela    2147
dtype: int64

In [14]:
# eliminar elementos
del myserie['Perú']
myserie

Ecuador      2140
Colombia     4175
Venezuela    2147
dtype: int64

In [15]:
ages = {'Sam': 18, 'Veronica': 14, 'Frank': 8}
myserie = pd.Series(ages)

In [16]:
myserie

Sam         18
Veronica    14
Frank        8
dtype: int64

In [3]:
# Datos imaginarios sobre ventas del 1er y 2do cuarto de una empresa XYZ
q1 = {'Japon': 80, 'China': 450, 'India': 200, 'Estados Unidos': 250}
q2 = {'Brasil': 100, 'China': 500, 'India': 240, 'Estados Unidos': 120}

In [4]:
sales_q1 = pd.Series(q1)

In [5]:
sales_q2 = pd.Series(q2)

In [21]:
sales_q1

Japon              80
China             450
India             200
Estados Unidos    250
dtype: int64

In [22]:
sales_q2

Brasil            100
China             500
India             240
Estados Unidos    120
dtype: int64

In [23]:
# comprovar si una clave existe
'japan' in sales_q1

False

#### **Nota:** Las claves en las Series de pandas son case-sensitive

In [25]:
# obtener claves
sales_q1.keys()

Index(['Japon', 'China', 'India', 'Estados Unidos'], dtype='object')

In [28]:
# obtener valores de la serie
sales_q1.values

array([ 80, 450, 200, 250], dtype=int64)

In [29]:
# suma entre series
sales_q1 + sales_q2

Brasil              NaN
China             950.0
Estados Unidos    370.0
India             440.0
Japon               NaN
dtype: float64

In [33]:
sales_q1.add(sales_q2, fill_value=0)

Brasil            100.0
China             950.0
Estados Unidos    370.0
India             440.0
Japon              80.0
dtype: float64