# **Mètodos de Texto**

En python nosotros podemos hacer uso de varios metodos para el manejo de strings

o cadenas de caracteres, en el caso de pandas usasmos los mismos mètodos pero de una manera diferente

pandas_object.**str**.**metodo**

In [1]:
import pandas as pd

In [4]:
email = 'anndykint@gmail.com'

In [26]:
email.split('@')

['anndykint', 'gmail.com']

In [14]:
name = pd.Series(['Andrew', 'George', 'Olivia', 'Bob', 'Clarie', '19'])

In [15]:
name

0    Andrew
1    George
2    Olivia
3       Bob
4    Clarie
5        19
dtype: object

In [16]:
name.str.upper()

0    ANDREW
1    GEORGE
2    OLIVIA
3       BOB
4    CLARIE
5        19
dtype: object

In [17]:
name.str.isdigit()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

## **Texto a Columnas**

In [18]:
tech_finance = ['GOOG, AMZN, APPL', 'JPM, BAC, GS']

In [22]:
tickers = pd.Series(tech_finance)

In [23]:
tickers

0    GOOG, AMZN, APPL
1        JPM, BAC, GS
dtype: object

In [29]:
tickers.str.split(',', expand=True)

      0      1      2
0  GOOG   AMZN   APPL
1   JPM    BAC     GS

## **Extraer substring**

In [30]:
name

0    Andrew
1    George
2    Olivia
3       Bob
4    Clarie
5        19
dtype: object

In [35]:
# extraer elementos desde la izquierda
name.str[:3]

0    And
1    Geo
2    Oli
3    Bob
4    Cla
5     19
dtype: object

In [36]:
# extraer elementos desde la derecha
name.str[-3:]

0    rew
1    rge
2    via
3    Bob
4    rie
5     19
dtype: object

In [37]:
# extrear elementos con indice especifico
name.str.slice(2, 4) # el ultimo indice no se toma en cuenta

0    dr
1    or
2    iv
3     b
4    ar
5
dtype: object

In [40]:
messy_names = pd.Series(['andrew', '    bo;bo', 'clarie'])

In [41]:
messy_names

0       andrew
1        bo;bo
2       clarie
dtype: object

In [53]:
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Clarie
dtype: object

In [51]:
def cleanup(name):
    name = name.replace(';', '')
    name = name.strip()
    name = name.capitalize()
    return name

In [52]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Clarie
dtype: object