# **Datetime Metodos**

In [34]:
import pandas as pd

In [35]:
myser = pd.Series(['Sep, 7, 2021', '2020-01-12', None])

In [36]:
myser

0    Sep, 7, 2021
1      2020-01-12
2            None
dtype: object

In [37]:
timeser = pd.to_datetime(myser)

In [38]:
timeser

0   2021-09-07
1   2020-01-12
2          NaT
dtype: datetime64[ns]

In [39]:
timeser[0].year

2021

In [40]:
obvi_euro_date = '31-12-2000'

In [41]:
pd.to_datetime(obvi_euro_date)

Timestamp('2000-12-31 00:00:00')

In [9]:
euro_date = '10-12-2008' # dd-mm-yyyy

In [10]:
pd.to_datetime(euro_date) # yyyy-mm-dd

Timestamp('2008-10-12 00:00:00')

In [42]:
pd.to_datetime(euro_date, dayfirst=True)

Timestamp('2008-12-10 00:00:00')

In [12]:
style_date = '12--Dec--2000'

In [13]:
pd.to_datetime(style_date, format= '%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [14]:
custom_date = '15th of Sep 2019'

In [15]:
pd.to_datetime(custom_date)

Timestamp('2019-09-15 00:00:00')

In [43]:
sales = pd.read_csv('./assets/RetailSales_BeerWineLiquor.csv')

In [44]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [45]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [49]:
sales['DATE'][1].year

1992

In [27]:
sales = pd.read_csv('./assets/RetailSales_BeerWineLiquor.csv', parse_dates=[0])

In [51]:
sales.DATE.dt.year

0      1992
1      1992
2      1992
3      1992
4      1992
       ...
335    2019
336    2020
337    2020
338    2020
339    2020
Name: DATE, Length: 340, dtype: int64

In [52]:
# GET THE NAME OF MONTH
sales.DATE.dt.month_name()

0       January
1      February
2         March
3         April
4           May
         ...
335    December
336     January
337    February
338       March
339       April
Name: DATE, Length: 340, dtype: object

In [56]:
# GET THE NAME OF DAYA
sales.DATE.dt.day_name()

0      Wednesday
1       Saturday
2         Sunday
3      Wednesday
4         Friday
         ...
335       Sunday
336    Wednesday
337     Saturday
338       Sunday
339    Wednesday
Name: DATE, Length: 340, dtype: object

In [65]:
# GET CURRENT DATE
today = pd.to_datetime('today')

In [66]:
today

Timestamp('2021-09-18 12:19:50.897070')

In [67]:
# GET CURRENT AGE
birth_date = '1995-09-09'

birth_date = pd.to_datetime(birth_date)

In [72]:
current_age = today.year - birth_date.year

In [73]:
current_age

26